extends ./layout.jade

block context
  .ui.one.column.container.celled.grid
    .column
      h1.ui.medium.header
        .content 成果
      table.ui.celled.table
        thead
          tr
            th 获批年份
            th 名称
            th 层次
        tbody
          for achieve in records.achievements
            tr
              td #{achieve.year}
              td #{achieve.name}
              td #{achieve.level}
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 论文
      table.ui.celled.table
        thead
          tr
            th 发表年份
            th 题目
            th 期刊/会议名称
            th 期刊/会议时间
        tbody
          for paper in records.papers
            tr
              td #{paper.release_year}
              td #{paper.wut}
              td #{paper.wut}
              td #{paper.wut}
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 专利
      table.ui.celled.table
        thead
          tr
            th 专利申请号
            th 申请人
            th 发明创造名称
        tbody
          for patent in records.patents
            tr
              td #{patent.register_number}
              td lorem
              td #{patent.title}
    .ui.divider.column
    .column
      h1.ui.medium.header
        .content 著作权
      table.ui.celled.table
        thead
          tr
            th 著作权编号
            th 登记号
            th 著作权人
            th 软件名称
        tbody
          for book in records.books
            tr
              td #{book.copyright_number}
              td #{book.register_number}
              td #{book.wut}
              td #{book.title}
